<!DOCTYPE html>
<html>
<head>
   <style>
    /*nav bar*/
    
  .userbutton{
        padding: 3% 6% 3% 6%;        
        text-align: center; 
        color: #FFF;
        border: 3px  solid ;
        border-radius: 30px;
        background-color: #D46C4E;
        font-size:70%;
        margin-left:-40%;
    }

    .nav {
        margin-left:80%;
        margin-top:-3%;
        position:static:
    }

    .nav ul{
        list-style: none;
        text-align: center;
        position: static;
        padding: 0;
        margin-top:-1%;
        width:70%;
    }

       
    .nav a{
        text-decoration: none;
        color: #000;
        display: block;
        padding-left: 1%;
        border-bottom: none;
        transition: .3s;
    }
    
    #dropdown{

        margin-top: 1.65%;
        display:none;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: #fff;
        width:9%;
        border: 1px solid #bbb; 
        border-radius: 15px;
    }

    #dropdown li{
        border-bottom: 0.3px solid #ddd;
    }
                
    #dropdown li:first_child{
        border-bottom: none;
    }

    .nav a:hover{
        background-color: #E6E8ED;
    }
    .nav .firstlink:hover {
        background-color: #E6E8ED;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
   .nav .lastlink:hover{
        background-color: #E6E8ED;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
  
    .itemnav {
        width: 100%;
    }

    /*template*/
    
     .container2{
        margin-top: 5%;
        display:grid;
        grid-column: 50% 50%;
      
    }
    .container3{
        display:grid;
        grid-column: 25% 25% 25% 25%;
        width: 100%;
        margin-top:-3%;
      }

      
       .item1{
        margin-left:25%;
        display:grid;
        justify-content:center;
        position:static;
        width: 50%;
              }
      .item3{
         line-height:0;
         grid-row-start:1;
         float:left;
         position:static;
         
      
      }
      .item4{
        line-height:0;
         grid-row-start:1;
         float:left;
         position:static;
      
      }

       .item5{
         line-height:0;
         float: left;
         position: center;
         width:100%;
         left:1%;
      }
      .item6{
         
         float: left;
         position: static;
         left : 30%;
      }
       .item7{
      
         float: center;
         position: relative;
         left:-1.5%;
      }
       
      button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
   }
  

.resizedTextbox {
    width: 95%; 
    height: 65%; 
    }

.Textbox_password {
    width: 95%; 
    height: 65%; 
    background: #FAFBFF; 
    text-align: center; 
    border: 3px #E6E8ED solid;
    border-radius: 6px;
    color:#8F9095;
    }

  
.resizedTextbox1 {
    width: 80%; 
    height: 65%;
    }
    
.resizedTextbox2 {
    width: 90%; 
    height: 65%;
    }

.Myprofile{
    
    display: block;
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
    position: static;
    margin-top: 3.5%;
}
.profilepic{
    width: 43%;
    position: static;
    grid-column-start:1;
    margin-bottom:-5%;
    
}


.editpic{    
    display: block;
    width: 100%;
    position: relative;
    left:44%;
    top:-25%;
}
.nameandtell{
    width: 100%;
    float: center;
    position: relative;
    line-height:0.5;
    grid-column-start:2;
    right : 60%;
    margin-top: 10%; 
    margin-left: 30%;
}
     
   </style>
<title>Lock&Lock</title>
</head>
<body>
<script>    
                function HoverOnDropdown() {
                 var dropdown = document.getElementById("dropdown");
                dropdown.style="display: inline-block;";
                }

                 function HoverOffDropdown() {
                 var dropdown = document.getElementById("dropdown");
                dropdown.style="display: none;";
             
                }
              
                function ChangeColor(id) {
                 var color = document.getElementById(id);
                 color.style.color="#000";
                }
                function BackColor(id) {
                 var color = document.getElementById(id);
                 color.style.color="#8F9095";  
                }
                
                function Change(id) {
                 var color = document.getElementById(id);
                 color.type="text";
                 color.style.color="#000";
                 check(id);
                }

                                             
                function Back(id) {
                var color = document.getElementById(id);
                document.addEventListener("click", function(){
                color.style.color="#8F9095";
                color.type="password";});                 
                }
            
</script>
   
     <div calss="itemnav" >
    
       <img src="~/img/NavBar.jpg"  width="100%" >
        
        <div class ="nav" onmouseleave=HoverOffDropdown()>
        
        <ul >                
           <li id="first-li"><button class="userbutton" onmouseenter=HoverOnDropdown() ><b>Pimpida</b></button></li>
        </ul>
        <ul id="dropdown" onmouseleave=HoverOffDropdown()>
                <li id ="dropdown_li"><a href="/Home/Profile" class="firstlink"><b>ประวัติส่วนตัว</b></a></li>
                <li id="dropdown_li"><a href="/Home/History"><b>ประวัติการจอง</b></a></li>
                <li id="dropdown_li"><a href="/Home/Chat"><b>Chat</b></a></li>
                <li id="dropdown_li_lastchild"><a href="/Home/SignIn" class="lastlink"><b>Signout</b></a></li>
        </ul >         
        </div>
     </div>
    
  
      
                  
         <div class ="item1"> 
            
            <img src="~/img/MyProfile.jpg" class="Myprofile" style ="width:50%; height:auto; "  >
         
         <div class = "container2">
          
          
            <div class = "profilepic">
                
                <img src="~/img/ProfilePic.jpg"  width="100%" height="auto" >
                <button class ="editpic"><img src="~/img/EditPic.jpg"  style="width=100%; height=100%; border-top-left-radius: 80px;
                    border-top-right-radius: 100px; border-bottom-right-radius: 100px;   border-bottom-left-radius: 110px;" ></button>
            </div>            
           
                
            <div class = "nameandtell">
            <p id="username" style="color:#000;front-size:100%;"><b>Nim Pimpida</b></p>
            <p id="tell" style="color:#8F9095;front-size:5%;"><b>081-234-5678</b></p>
            </div>
        </div>
            <div class="container3">
            
               <div class="container2">    
                  <div class ="item3">
                     <p><b><font size=3%>Name</font></b></p>
                     
                     <input type="text" class="resizedTextbox1" id="firstname" style="background: #FAFBFF; text-align: center; border: 3px #E6E8ED solid ;border-radius: 6px;color:#8F9095;"  value="Nim" onkeydown=ChangeColor(this.id) onchange=BackColor(this.id)>
                  </div>

                  <div class ="item4">
                     <p><b><font size=3%>Surname</font></b></p>
                     <input type="text" class="resizedTextbox2" id="lastname" style="background: #FAFBFF; text-align: center; border: 3px #E6E8ED solid;border-radius: 6px;color:#8F9095;" value="Pimpida"
                     onkeydown=ChangeColor(this.id) onchange=BackColor(this.id)>
                  </div>
               
               </div>
                <br>
           
               <div class ="item5">
                        
                        <p><b><font size=3%>Telephone Number</font></b></p>
                     
                        <input type="text" class="resizedTextbox" id="tel" style="background: #FAFBFF; text-align: center; border: 3px #E6E8ED solid;border-radius: 6px;color:#8F9095;"value="081-234-5678"
                        onkeydown=ChangeColor(this.id) onchange=BackColor(this.id)> 
               </div> 
               <br>
               <div class ="item5">
                       
                        <p><b><font size=3%>Email</font></b></p>
                        <input type="text" class="resizedTextbox" id="email" style="background: #FAFBFF; text-align: center; border: 3px #E6E8ED solid;border-radius: 6px;color:#8F9095;" value="debbie.baker@example.com" onkeydown=ChangeColor(this.id) onchange=BackColor(this.id)> 
               </div> 
               <br>
               <div class ="item5">
                       
                        <p><b><font size=3%>Password</font></b></p>
                        <input type="password" class="Textbox_password" id="password" value="123456789" onmousedown=Change(this.id) onmouseleave=Back(this.id)> 
               </div> 
               </div> <br></br>
              <div class ="item7">
               <button><img src="~/img/SaveChanges.jpg" style="width=100%; height=100%;" ></button>      
               </div>  
              
        
        
            
         
      </div>
   
      
   
</body>
</html>
