<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/css/user.css" />       
<style>
    button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
   }
    .Order{
    display:flex;
    margin: 0;
    align-items: right;
    align-content: center;
    margin-top:2.5%;
    margin-bottom:2.5%;
}
</style>

<div class="container">
    <ul class="nav nav-tabs">
        <li><a class="tab1" href="/?room=1">ROOM 1</a></li>
        <li><a class="tab2" href="/?room=2">ROOM 2</a></li>
        <li><a class="tab3" href="/?room=3">ROOM 3</a></li>
        <li><a class="tab4" href="/?room=4">ROOM 4</a></li>
        <li><a class="tab5" href="/?room=5">ROOM 5</a></li>
    </ul>

    <div class="tab-content">
	<div class="flex-container1">
            <p ><b style=" font-size:1.2em; margin-left:5.5%;" >ชื่ออุปกรณ์</b><b style="font-size:1.2em; margin-left:33%;">จำนวนทั้งหมด</b></p>
        @*1 menu*@
        <div class="grid-column">
            <div style=" font-size:1.2em;margin-left:6%; margin-top:2.5%; grid-column-start:1;">Digital LCD Multimeter XL830L0</div> 
            <div style=" font-size:1.2em; margin-top:4%; margin-left:-7%; grid-column-start:2;">
                <button margin-bottom="10%" ><img src="~/img/Minus.jpg" style="width=10%; height=100%;" ></button>
                50
                <button margin-bottom="10%"><img src="~/img/Plus.jpg" style="width=10%; height=100%;" ></button>
            </div>
            <div style=" font-size:1.2em; margin-top:2%; grid-column-start:3;"><button style="margin-left:20%"><img src="~/img/Confirm.jpg" style="width=100%; height=100%;" ></button> </div>
        </div>
    </div>
    
    <div class="Order">
        <button style="margin-left:80%"><img src="~/img/Order.jpg" style="width=10%; height=100%;" ></button> </div>
    </div>
    
            

    <div class="bottomLink">

    </div> 
        </div>
        <div>

</div>
</div>