nav ul {
  /* position: fixed; */
  height: 56px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  /* overflow: hidden; */
  background-color: #fafbff;
  box-shadow: 0px 4px 4px #e6e8ed;
  z-index: 10;
}

nav ul li {
  float: left;
}

nav ul li a,
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:visited {
  display: inline-block;
  color: white;
  text-align: left;
  padding: 14px 0px;
  text-decoration: none;
}

.dropbtn,
.dropbtn:focus,
.dropbtn:visited {
  /* display: inline-block; */
  color: white;
  background: #d46c4e;
  box-shadow: 4px 4px 4px #e6e8ed;
  border-radius: 20px;
  padding: 10px 25px;
}
.dropbtn:hover {
  color: white;
  background: #be5e44;
  box-shadow: 4px 4px 4px #e6e8ed;
  border-radius: 20px;
  padding: 10px 25px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-shadow: 4px 4px 4px #bdbec2;
}

first {
  color: #d46c4e;
}

back {
  color: #43978d;
}

nav ul li.dropdown {
  /* display: inline-block; */
  float: right;
  margin-top: 8px;
  margin-bottom: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  border: 1px solid #e6e8ed;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content a,
.dropdown-content a:visited,
.dropdown-content a:hover,
.dropdown-content a:focus {
  color: black;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
