/* ----------------------------------------------------------------------- */

.topOfContent {
  padding-top: 25px;
}
.topic-color {
  color: #d46c4e;
  font-weight: bold;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 0px;
}
.pointer-cursor:hover,
.pointer-cursor:focus {
  cursor: pointer;
}

/* ---------------------------------button Style--------------------------------- */
.btn-info {
  color: #fff;
  background-color: #489d93;
  border-color: #489d93;
  box-shadow: 3px 3px 2px #bdbec2;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
}
.btn-popUp {
  margin-bottom: 10px;
  margin: 40px 0px 40px 0px;
}
.btn.btn-danger:disabled {
  background-color: grey;
  border-color: grey;
}
.btn-danger:hover {
  background-color: #c52b00;
}
#btnBooking {
  margin-right: 5%;
  margin-bottom: 2%;
}
.closebtn {
  width: 50px;
}

.closebtn:hover,
.closebtn:focus {
  cursor: pointer;
}
.btn-warning {
  font-weight: bold;
  color: #fff;
  background-color: #d46c4e;
  border-color: #d46c4e;
  box-shadow: 3px 3px 2px #bdbec2;
  border-radius: 5px;
}
.btn-warning:hover {
  color: #fff;
  background-color: #c54a27;
  border-color: #c54a27;
}
.btn-confirm {
  font-weight: bold;
  color: #fff;
  background-color: #27c53c;
  border-color: #27c53c;
  box-shadow: 3px 3px 2px #bdbec2;
  border-radius: 5px;
}
.btn-comfirm:hover {
  color: #fff;
  background-color: #27c564cc;
  border-color: #27c564cc;
}
/* --------------------------------------table ----------------------------------- */
.boxTopicDate {
  height: 40px;
  border-top: 2px solid #e6e8ed;
  margin-top: 20px;
}

.textDate {
  text-align: center;
  line-height: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

table {
  border-bottom: 1px solid #e0e0e0;
}

th,
td {
  text-align: center;
}

#main th,
#main td {
  width: 5%;
}

th:first-child,
td:first-child {
  width: 5%;
}

thead > :first-child {
  /*headTable*/
  background-color: #e3e7eb;
  border-bottom: 4px solid #c1c8ce;
  font-weight: bold;
}

thead th:first-child {
  /*FirstHeadTable*/
  border-right: solid #c1c8ce;
}

tr:nth-child(even) {
  /*body*/
  background-color: #f4f7fa;
}

tbody th,
tbody tr td:first-child {
  /*firstBody*/
  border-right: solid #cdd3d8;
  font-weight: bold;
}
.squaredThree {
  position: relative;
  float: left;
}

.squaredThree label.Red {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: #dd0000;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.4);
}

.squaredThree label.Green {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #62ad71;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.4);
}

.squaredThree label.Yellow {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #f9ad6a;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.4);
}

.squaredThree label.Grey {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: Grey;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.4);
}

.squaredThree label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredThree input[type='checkbox'] {
  visibility: hidden;
}

.squaredThree input[type='checkbox']:checked + label:after {
  opacity: 1;
}

.squaredThree label.disablepointer {
  cursor: default;
}
/* --------------------------------History,Blacklist-------------------------------- */
.sortable {
  margin-top: 20px;
}
.blacklist-style {
  padding: 10%;
  color: #8f9095;
}
#blacklistTable th:nth-child(2),
#blacklistTable td:nth-child(2) {
  width: 25%;
}
#blacklistTable th:nth-child(3),
#blacklistTable td:nth-child(3) {
  width: 25%;
}
#blacklistTable th:not(:first-child),
#blacklistTable td:not(:first-child),
#historyTable th:not(:first-child),
#historyTable td:not(:first-child),#adminTabletd:not(:first-child) {
  padding-left: 30px;
  text-align: left;
}

.boxLabel {
  margin-left: auto;
  margin-right: auto;
  color: #a5a6aa;
}

.form-inline label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 6px;
}

label {
  display: inline-block;
  max-width: 120%;
  margin-bottom: 0;
  font-weight: 700;
}

.text-center {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* ----------------------------------Nav Room-------------------------------- */

.nav-tabs {
  border-bottom: transparent !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  color: #b24f32;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  filter: drop-shadow(5px -2px 2px #e6e8ed);
  font-weight: bold;
}

.nav-tabs > li > a {
  margin-right: 20px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 40px;
}

a.tab1,
a.tab1:focus,
a.tab1:visited {
  color: white;
  background-color: #b24f32;
  font-weight: bold;
}

a.tab2,
a.tab2:focus,
a.tab2:visited {
  color: white;
  background-color: #d46c4e;
  font-weight: bold;
}

a.tab3,
a.tab3:focus,
a.tab3:visited {
  color: white;
  background-color: #f18060;
  font-weight: bold;
}

a.tab4,
a.tab4:focus,
a.tab4:visited {
  color: white;
  background-color: #f9ad6a;
  font-weight: bold;
}

a.tab5,
a.tab5:focus,
a.tab5:visited {
  color: white;
  background-color: #f9c868;
  font-weight: bold;
}

a.disable {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #c1c8ce;
  color: #BDBEC2;
}

.nav-tabs a.tab1:hover {
  background-color: #a04327;
  color: #ffffff;
  text-decoration: none;
}

.nav-tabs a.tab2:hover {
  background-color: #be5e44;
  color: #ffffff;
  text-decoration: none;
}

.nav-tabs a.tab3:hover {
  background-color: #e07153;
  color: #ffffff;
  text-decoration: none;
}

.nav-tabs a.tab4:hover {
  background-color: #f19b50;
  color: #ffffff;
  text-decoration: none;
}

.nav-tabs a.tab5:hover {
  background-color: #f5bd4e;
  color: #ffffff;
  text-decoration: none;
}

.tab-content {
  border: 1px solid #ddd;
}

.nav-tabs > li > a {
  margin-right: 20px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
}
.d-flex {
  display: flex!important;
}

.container-row {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

#object {
  margin-left: 2%;
}
.clearfix {
  overflow: auto;
}

/* ----------------------------------Pop Up----------------------------------- */
.modal-header .closebtn {
  margin: -2.5rem -2.5rem -1rem auto;
}
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
/* p{
  margin: 0px 0px 20px 10px;
} */
.modal-body {
  padding: 10px 30px 0px 30px;
}
.modal-footer {
  padding: 15px 30px 30px 15px;
  text-align: right;
}
.bi-person-fill,
.bi-tools,
.bi-basket-fill,
.bi-door-open-fill,
.bi-clock-fill {
  font-style: normal;
  display: flex;
  margin-bottom: 20px;
}
b {
  margin-left: 8px;
  margin-right: 8px;
}
#times {
  display: flex;
  flex-direction: column;
}

/*--------------------- Log In & SignUp---------------------- */
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fafbff;
  background-clip: padding-box;
  border: 1px solid #e6e8ed;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.col-md-2{
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.flex-container {
  display: flex;
  margin: 35px;
  height: 80vh;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.itemSignIn {
  flex-basis: 50%;
  width: 50vw;
}
.bottomLink {
  color: #c52b00;
  display: inline;
}


/*--------------------- MainRoom & Edit ---------------------- */
.flex-container1 {
  display: flex;
  margin: 0;
  height: 80vh;
  align-items: left;
  align-content: center;
  margin-top:2.5%;
  flex-direction: column;
  
}

.grid-column{
  display:grid;
  grid-template-columns: 49% 32% 18%;  
  border:3px solid #ecedf388;
  width:95%;
  margin-left:2.5%;
}
/*------------------------------ Admin ----------------------------*/
#adminTable th:first-child, #adminTable td:first-child{
  width: 40%;
  padding-left: 65px;
  text-align: left;
  border-right: none;
}
#adminTable td:first-child{
  font-weight: normal;
}

#adminTable td:nth-child(3) {
  width: 20%;
}
#adminTable .btn-info{
  margin-right: 5%;
  margin-bottom: 2%;
}
.btn-footer{
  position: absolute;
  bottom: 5%;
  right: 15%;
}
a:not([href]):not([tabindex]){
  color: #fff;
}
#room1{
  position: static;
}
